version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    volumes:
      - ./sql_app.db:/app/sql_app.db
    env_file:
      - .env
    environment:
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=240

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8000
