version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./sql_app.db:/app/sql_app.db
      - ./app:/app/app
    env_file:
      - .env
    environment:
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=240

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/vite.config.js:/app/vite.config.js
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - VITE_API_URL=https://pycodearena.me/api
      - VITE_SUPER_ADMIN_EMAIL=${SUPER_ADMIN_EMAIL}

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
